<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book-style.css' %}">
</head>

<body>
    <section>
        <h1>Booking #{{ booking.id }}</h1>
        <p>User: {{ booking.user.username }}</p>
        <p>Room: {{ booking.room }}</p>
        <p>Time range: {{ booking.start_time }} - {{ booking.end_time }}</p>
    </section>
</body>

<body>
    <section class="features_hero-wrapper">
        <div class="features_gradient-wrapper">
            <div class="features_gradient features_gradient-1"></div>
            <div class="features_gradient features_gradient-2"></div>
            <div class="features_gradient features_gradient-3"></div>
        </div>
        <center>
<!--       <h1 style= "color: white; z-index: 10">Hello World</h1> -->
        </center>
    </section>
</body>

</html>