{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
</head>
<div class="erik">
    <h1>Booking</h1>
</div>
<body>
{% for room in rooms %}
<div class="list-container">
    <div class="toggle-btn">
        <button class="button-red">Room #{{ room.number }}</button>
    </div>
    <div class="room-details">
        <h2 class="gradient-text">Capacity: {{ room.capacity }}</h2>
        <h2 class="gradient-text">Location: {{ room.location }}</h2>
    </div>
</div>
{% endfor %}
<script>
    // JavaScript для обработки нажатия кнопки
    document.querySelectorAll('.toggle-btn').forEach(button => {
        button.addEventListener('click', () => {
            const details = button.nextElementSibling; // Получаем следующий элемент (room-details)
            if (details.style.display === 'none' || details.style.display === '') {
                details.style.display = 'block'; // Развернуть
            } else {
                details.style.display = 'none'; // Свернуть
            }
        });
    });
</script>



{% endblock %}
